<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #inputSearch (keyup)="searchTodos(inputSearch.value)" type="text" class="form-control" placeholder="Buscar tarea">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div *ngIf="loading" class="row">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-spin fa-spinner fa-5x"></i>
                    </div>
                </div>



                <div class="text-right">
                    <button [routerLink]="['/tarea','add']" class="btn-rounded btn-primary pointer"><i class="mdi mdi-plus"></i> Agregar Tarea</button>
                </div>

                <h3 class="card-title">Tareas <span class="badge badge-danger">{{ totalTodos }}</span></h3>

                <table *ngIf="totalTodos" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Cambiar Estado</th>
                            <th scope="col">Creación</th>
                            <th scope="col">Modificación</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let todo of todos">
                            <td> <s *ngIf="todo.status==='realizado'"> {{todo.name}}</s> {{todo.status==='pendiente'?todo.name:''}} </td>
                            <td> <span class="label" [ngClass]="{'label-warning':todo.status==='pendiente', 'label-primary':todo.status==='realizado' }">{{todo.status==='pendiente'?'Pendiente':'Realizado'}}</span> </td>
                            <td>

                                <div class="switch">
                                    <label>
                                        <input (change)="changeSwitch(todo)" type="checkbox" [checked]="todo.status === 'realizado'" [disabled]="this.loadingById===todo._id">
                                        <span class="lever switch-col-indigo"></span>
                                    </label>
                                    <i *ngIf="loadingById=== todo._id" class="fa fa-spin fa-spinner"></i>
                                </div>

                            </td>
                            <td>{{todo.createdAt | dateToLocal }}</td>
                            <td>{{todo.updatedAt | dateToLocal }}</td>
                            <td>
                                <button [routerLink]="['/tarea',todo._id]" class=" btn btn-primary mr-2">
                                    <i class="fa fa-edit "></i>
                                </button>
                                <button (click)="deleteTodo(todo)" class="btn btn-danger">
                                    <i class="fa fa-trash-o "></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="!totalTodos" class="alert alert-success">No hay tareas para mostrar.</div>

                <button *ngIf="page > 1" (click)="getPrevPage()" class="btn btn-secondary mr-2">
                        Anteriores
                </button>

                <button *ngIf="nextPage > page" (click)="getNextPage()" class="btn btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>